<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="trade.mayo.mapper.local.SysUerMapper">

    <insert id="insertUser" parameterType="java.util.Map">
        INSERT INTO sys_user (
        username,
        password,
        job_number,
        person_name,
        email,
        phone,
        create_user,
        ctime,
        update_user,
        utime
        )
        VALUES (
          #{username},
          #{password},
          #{job_number},
          #{person_name},
          #{email},
          #{phone},
          #{create_user},
          NOW(),
          null,
          null
        )
    </insert>
</mapper>